@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{   
    color: #1A0E7C;
    font-family: 'Roboto';
}
.bold-letter h1{
    font-weight: 900;
    font-size: 45px;
    color: #17a2b8!important;
}
.round-button {
    border-radius: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background-color: #17a2b8!important;
    color: #ffffff!important;
}
#first-name{
    color: rgb(184, 232, 238);
}
#second-name{
    color: blue;
}
.navbar{
    width: 100%;
    margin: auto;
}
.font-text{
    color: #1A0E7C;
}
.bold-class{
    font-size: 40px;
    font-weight: 500;
}
.font-color{
    color: #1A0E7C ;
}
.header-section{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section .left-section{
    width: 50%;
}
.header-section .left-section h4{
    font-size: 21px;
}
.header-section .right-section{
    width: 50%;
}
​
.middle-section{
    background-color: rgba(227, 255, 251, 0.904);
    border-radius: 30% 50% 96% 4% / 16% 98% 2% 84% ;
}
.teamwork{
    border-radius: 137% 67% 53% 153% / 57% 227% 114% 105% ;
    background-color: rgba(227, 255, 251, 0.904);
}
.header{
    font-size: 20px;
    text-align: center;
}
.services .col-md-4{
background-color:  rgba(227, 255, 251, 0.904);;
border-radius: 60% 45% 15% 36% / 1% 85% 5% 90%;
}
.services .col-md-4 i:hover{
    cursor: default;
    transform: rotate(360deg) scale(2);
    transition: all 0.5s ease-in-out 0s;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(241, 241, 241);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(176, 210, 211);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

footer {
    height: 100px;
    text-align: center;
    position: relative;
    background-color: lightgray;
}
input {
    width: 100%;
    padding: 20px;
    border:none;
    border-bottom:1px solid gray;
}

footer p {
    height: 100%;
    line-height: 100px;
   color: #17a2b8!important
}
@media screen and (max-width:768px)
{
    .services{
        margin-top: 136px;
    }
    #teamwork img{
        height: 250px;
    }
    #profile img{
        height: 320px;
    }
    .contact img{
        display: none;
    }
}

